    <div class="footer-body">
    <footer style="background: #596e79; color: white; padding: 20px 0; margin-top: 10%; margin-top: auto;" >
        <div style="max-width: 1200px; margin: auto; padding: 0 20px; text-align: center; max-height: 100%;">
            <p style="font-size: 18px; margin: 0;">
                © <%= new Date().getFullYear() %> Blogger Interactive System
            </p>

            <p style="margin: 5px 0 0;">
                Built with ❤️ by Buthynah
            </p>

            <div style="margin-top: 10px;">
                <a href="#" style="color: #dfd3c3; text-decoration: none; margin: 0 10px;">Home</a>
                <a href="#" style="color: #dfd3c3; text-decoration: none; margin: 0 10px;">About</a>
                <a href="#" style="color: #dfd3c3; text-decoration: none; margin: 0 10px;">Contact</a>
            </div>
        </div>
    </footer>
</div>

    
