.side-bar{
    background-color: tomato;
    width: 15%;
    height: 100%;
}


.custom-navbar{
    background: #c7b198;
}
.contact-link{
background-color: rgb(56, 56, 126);
color:white;
border-radius: 10px;
}

.align-items-center{
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    gap:50px
}

.btn:focus{
  outline: none;       /* Removes blue outline */
  border: none;        /* Removes border */
  background-color: transparent; /* Makes background transparent */
  box-shadow: none;  
}

.navbar-toggler:focus{
  outline: none;       /* Removes blue outline */
  border: none;        /* Removes border */
  background-color: transparent; /* Makes background transparent */
  box-shadow: none;  
}
.navbar-toggler-icon{
     filter: brightness(0) invert(1);
}
.navbar-brand{
    font-size: 25px;
    color:white;
    font-weight: 600px;
}
.btn{
    color:white;
}
#hyperLink-CreateAccount{
    margin-left: 2%;
    
}

.footer-body{
       height: 100%;
    margin: 0;
      display: flex;
    flex-direction: column;
    min-height: 100vh;
}








